.errorPage {
    color: #FF6060;
    text-align: center;
}

.errorPage h1 {
    font-size: 300px;
    margin: 0;
}

.errorPage h2 {
    font-size: 30px;
    margin: 50px 0 100px 0;
}

.errorPage a{
    color: black;
}
.footer {
    margin-top: 40px;
}